################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/3rd
/crtfix/.vs/crtfix/v14
/crtfix/Release
/crtfix/x64/Release
/crtfix/crtfix.vcxproj.user
/test/bin/test.pdb
/test/bin/test.ipdb
/test/bin/test.iobj
/test/Release
